doctype
html
head
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='http://localhost:8080/styles.css')
    script(src='/scripts.js')
    title=name
body
    include ./header.pug

    div.container
        div.answer
            h2.text-center=name
            form(action='/poll/' + id + '/vote', method='post', enctype='multipart/form-data')
                ul.poll-options
                    each option in options
                        - optionId = option.option_id
                        - optionValue = option.value
                        li(onclick='selectOption(' + optionId + ')').option
                            input(type='radio', id=optionId name='vote', value=optionId)
                            label=optionValue

                input(type='submit', value='Vote' disabled='true').btn.btn-success.vote
                input(type='button', value='Results' onclick='toggleResults()').btn.btn-info.results

        div.answers
            p=('Total votes: ' + totalVotes)

            each option in options
                - votes = option.votes
                - optionValue = option.value
                p=(optionValue + ': ' + votes)
